<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BetfairSoccerBettingApp.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <BetfairSoccerBettingApp.My.MySettings>
            <setting name="ProcessLogPath" serializeAs="String">
                <value>C:\#myPrograms\BetfairSoccerBettingApp\logs\</value>
            </setting>
            <setting name="BetFairAccountName" serializeAs="String">
                <value>smith4p</value>
            </setting>
            <setting name="BetFairAccountPassword" serializeAs="String">
                <value>PS?pos68</value>
            </setting>
            <setting name="BetFairAccountAppKey" serializeAs="String">
                <value>qiYxq3w6zYdAaEDo</value>
            </setting>
            <setting name="BetFairApiUrl" serializeAs="String">
                <value>https://api.betfair.com/exchange/betting</value>
            </setting>
            <setting name="StreamSportId" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StreamSportName" serializeAs="String">
                <value>Football</value>
            </setting>
            <setting name="DaysAhead" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="NumberOfUkEvents" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ProcessCycleEverySecs" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="NumberOfEuropenEvents" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="LogsBetfairResultsOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SimulationModeOn" serializeAs="String">
                <value>False</value>
            </setting>
        </BetfairSoccerBettingApp.My.MySettings>
    </userSettings>
</configuration>